main{
    text-align: center;
    margin: 5% 0%;
}
form section, p{
    margin-bottom: 3%;
}
main input{
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: rgb(231, 219, 204);
}
main button{
    width: 10%;
    height: 55px;
    background-color: rgb(28, 145, 235);
    border:solid black;
    border-radius: 5px;
    font-size: 140%;
}


@media (max-width: 712px){
    main button{
        width: 20%;
    }
}