.Producto{
    display: flex;
    align-items: center;
    width: 100%;
}
.img_producto{
    width: 40%;
    border: solid black 5px;
    border-radius: 5%;
    margin: 4% 9%;
}
.Informacion, .cantidad_Productos{
    font-size: 200%;
}
.botones{
    display: flex;
    align-items: center;
}
.añadir_producto{
    width: 40%;
    height: 100px;
    border: solid 5px rgb(28, 145, 235);
    border-radius: 25px;
    background-color: rgba(28, 145, 235, 0.273);
    margin: 5%;
    font-size: 120%;
}
.añadir_producto:hover{
    background-color:rgb(28, 145, 235);
    border-color: black;
}
.cantidad_Productos{
    width: 10%;
    height: 80px;
    border: solid 5px rgb(28, 145, 235);
    border-radius: 10px;
    background-color: rgba(28, 145, 235, 0.273);
}
@media (max-width:1000px){
    .Informacion, .cantidad_Productos{
        font-size: 150%;
    }
    .añadir_producto{
        font-size: 110%;
    }
}
@media (max-width:714px){
    .Producto{
        display: block;
    }
    .img_producto{
        width: 80%;
    }
    .Informacion{
        display: flex;
        margin: 5%;
    }
    .botones{
        padding: 10% 0%;
        display: flex;
        justify-content: center;
    }
    .añadir_producto{
        width: 60%;
    }
    .cantidad_Productos{
        width: 20%;
    }
}