*{
    padding: 0;
    margin: 0;
}
/*Resonsividad de main*/
body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgb(231, 219, 204);
}
main {
    overflow: hidden; 
    flex-grow: 1;  
    position: relative;
}

header{
    background-color: rgb(28, 145, 235);
    border-color:z black;
    border-style: solid;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 100px;
    min-width: 10px;
    height: auto;
}

nav{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.barra{
    position: relative;
}
.barra_Busqueda{
    width: 96%;
    padding:13px;
    border-radius: 10px;
    font-size: medium;
    background-color: rgb(231, 219, 204);
}
.button_Buscar {
    position: absolute;
    z-index: 1;
    top: 50%; 
    right: 1%; 
    transform: translateY(-50%); 
    border: none;
    background: transparent;
}
.menu_Desplegable{
    display: none;
}
header svg .menu_Desplegable {
    display: none;
}

.ln{
    letter-spacing: 4px;
    text-align: center;
}
a{
    font-size:17px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(231, 219, 204);
}

.Panel_Usario{
    width: 140px;
    display: flex;
    justify-content: space-evenly;
}
.icono_Cuenta, .icono_Carrito{
    width: 35px;
    height: 35px;
    fill: black;
}
.icono_Cuenta:hover, .icono_Carrito:hover{
    fill:rgb(231, 219, 204);
}



footer{
    background-color: rgb(128, 58, 58);
    border: solid;
    display: flex;
}
footer section{
    width: 33%;
    padding: 1%;
}

.telefono, .ubicacion, .whatsapp, .correo{
    gap: 3%;
    padding: 2% 3%;
    display: flex;
}

.dudas div a{
    display:grid;
    padding: 2% 3%;
}

.indicaciones_Cotizacion{
    padding: 3% 3%;
    padding-bottom: 6%;
}

.ingreso_Correo{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.barra_Correo{
    border-radius: 10px;
    background-color: rgb(231, 219, 204);
}
.envio_Correo{
    border-radius: 10px;
    background-color: black;
    color: rgb(231, 219, 204);
}


@media (max-width: 940px){
    nav{
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
        flex-grow: 1;
    }
    .barra{
        width: 70%;
    }
    .barra_Busqueda{
        width: 93%;
    }
    .ln{
        display: none;
    }
    .menu_Desplegable{
        display: block;
        margin-top: 1%;
        top: 50%; 
        right:0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .menu_Desplegable:hover path{
        fill: rgb(231, 219, 204);
    }

    .menu-container:hover .ln {
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: rgb(28, 145, 235);
        border: solid 4px;
        z-index: 1;
    }
    .ln {
        pointer-events: auto;
    }
    .ln strong {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }
}