main{
    display: flex;
}

aside{
    width: 25%;
    margin: 4% 1%;
    height: min-content;
    border: solid rgb(128, 58, 58);
}
aside section{
    border: solid rgb(128, 58, 58);
    font-size: 150%;
}
aside section div{
    display: flex;
    margin-left: 2%;
}
.Precios{
    display: grid;
}

.busqueda-producto input{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    font-size: 100%;
}
.marca-Producto{
    margin-left: 5%;
    gap: 5%;
}
.rango-Precio{
    justify-content: space-evenly;
    align-items: center;
}
.rango-Precio input{
    width: 35%;
    height: 35px;
}
.Filtrar{
    display: flex;
    justify-content: center;
}
.btn_Filtrar{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    margin: 5%;
    background-color:rgb(28, 145, 235);
}


.productos-Seccion{
    width: 100%;
    padding-right: 1%;
}
h1{
    text-align: center;
}
.productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5% 1%;
    padding-bottom: 10%;
}
.producto{
    border: solid black;
    position: relative;
}
figure{
    margin: 0%;
    padding: 0%;
}
figure img{
    width: 100%;
    border-bottom: solid black;
}
.info-producto{
    text-align: center;
}
.btns-producto{
    display: none;
    position: absolute;
    width: 80%;
    height: 40%;
    top: 15%;
    left: 10%;
    gap: 30%;
}
.btns-producto button{
    border: solid black;
    border-radius: 25px;
    border-width: 5px;
    font-size: 150%;
    background-color: rgba(255, 254, 254, 0.221);
}
.producto:hover .btns-producto{
    display: grid;
}
.ver_producto:hover, .añadir_producto:hover{
    background-color: rgb(28, 145, 235);
}


@media (max-width: 1198px){
    main{
        display:grid;
    }
    aside{
        width: 90%;
        margin: 5%;
    }
    aside section div:not(.submenu-Marca, .submenu-Tipo, .submenu-Precio){
        display: none;
    }
    .filtro-Marca:hover div,.filtro-Tipo:hover div,.filtro-Precio:hover div{
        display: block;
        cursor: pointer;
    }
    div h3{
        margin: 0%;
        padding: 0%;
    }
    .btn_Filtrar{
        margin: 0;
    }
    .productos-Seccion{
        width: 95%;
        margin: 0% 3%;
    }
    .productos{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:430px){
    .productos{
        grid-template-columns: repeat(2,1fr);
    }
}