h1{
    text-align: center;
}
.productos{
    overflow-x:auto; 
    display: flex;
    flex-wrap:  nowrap;
    gap: 1%;
    margin: 0% 1%;
}
.producto{
    flex-shrink: 0; 
    border: solid black;
    position: relative;
    width: 250px;
}
figure img{
    width: 100%;
}
.info-producto{
    text-align: center;
}
.btns-producto{
    display: none;
    position: absolute;
    width: 80%;
    height: 180px;
    gap: 30%;
    top: 15%;
    left: 10%;
}
button{
    border: solid 5px black;
    border-radius: 25px;
    background-color: rgba(255, 254, 254, 0.221);
    font-size: 150%;
}
.producto:hover .btns-producto{
    display: grid;
}
.ver_producto:hover, .añadir_producto:hover{
    background-color: rgb(28, 145, 235);
}
.Marcas section{
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
}
.logo{
    width: 20%;
    height: 20%;
}
.flecha{
    display: none;
}