main{
    display: flex;
    justify-content: space-around;
}
main section{
    border:solid rgb(128, 58, 58);
    border-radius: 20px;
    margin: 3% 0%;
    height: min-content;
}
.info-Pedido{
    width: 70%;
}
.info-Pedido .producto{
    border-bottom: solid rgb(128, 58, 58);
}
.info-Pedido div:not(.metodos-envio, .precios){
    display: flex;
    align-items: center;
    gap:10%;
    padding:2%;
}
.info-Pedido div h2{
    width: 200px;
}
.metodos-envio{
    width: 30%;
}
.info-Pedido  .precios{
    width: 23%;
    text-align: center;
}
.info-Pedido form{
    text-align: center;
}
.info-Pedido form input{
    width: 20%;
    height: 50%;
    border: solid 1px rgb(28, 145, 235);
    border-radius: 5px;
    background-color: rgba(28, 145, 235, 0.273);
}
.info-Pedido form button{
    background-color: black;
    color: white;
    border: solid rgb(128, 58, 58);
    border-radius: 10px;
    height: 42px;
}

.resumen-Pedido{
    width: 25%;
}
h1, h2{
    text-align: center;
}
.resumen-Pedido div div, .resumen-Pedido .descuento_Cliente div{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.resumen-Pedido div div:not(.total-descuento, .total_Cantidad){
    padding: 0% 10%;
}
.apartado-resumen, .descuento_Cliente {
    border-bottom: solid rgb(128, 58, 58);
}
.resumen-Pedido .buttons{
    display: flex;
    justify-content: space-around;
}
.resumen-Pedido button{
    width: 45%;
    height: 40px;
    border: solid black;
    background-color: rgb(28, 145, 235);
    border-radius: 10px;
    font-size: 150%;
    margin: 5% 0%;
}

@media (max-width:760px){
    main{
        display: block;
    }
    .info-Pedido{
        width: 90%;
        margin: 5%;
    }
    .info-Pedido .producto, .info-Pedido .ultimo-producto{
        flex-direction: column;
    }
    .info-Pedido form input{
        width: 80%;
    }
    .resumen-Pedido{
        width: 50%;
        margin: 5% 25%;
    }
}